body {
     margin: 10px;
     background-color: #ffffff;
     flex: 1;
     display: flex;
     flex-direction: column;
}

.navbar {
     margin: 0px;
     background-color: #24353c;
     flex-direction: row;
     display: flex;
     border-radius: 15px;
}

.brand-logo {
     background-color: #d2dfc5;
     height: 70px;
     padding: 20px;
     margin-right: 36px;
     border-radius: 15px 0px 0px 15px;
}

.navbar-title {
     color: white;
     font-family: 'Lato', sans-serif;
     font-family: 'Montserrat', sans-serif;
     font-size: 30px;
     margin-top: 37px;
     font-weight: 500;
}

.body-container {
     margin-top: 20px;
     border-radius: 10px;
     background-color: #efeaea;
     padding-left: 44px;
     padding-right: 44px;
     padding-top: 30px;
     padding-bottom: 25px;
     width: 90.5%;
     margin-left: auto;
     margin-right: auto;
}

.eye-grabber {
     color: black;
     font-family: 'Lato', sans-serif;
     font-family: 'Montserrat', sans-serif;
     font-size: 32px;
     margin: 0px;
     margin-bottom: 30px;
}

.eye-grabber-tagline {
     color: black;
     font-family: 'Lato', sans-serif;
     font-family: 'Montserrat', sans-serif;
     font-size: 20px;
     margin: 0px;
     margin-bottom: 30px;
}

.bold {
     font-weight: 600;
}

.verybold {
     font-weight: 700;
     font-size: 23px;
}

.italic {
     font-style: italic;
}

.viz-container {
     flex-direction: row;
     display: flex;
}

.viz-info-container {
     margin-left: 20px;
     padding: 7px;
     align-items: flex-start;
     display: flex;
     flex-direction: column;
}

.viz-info-text {
     color: black;
     font-family: 'Lato', sans-serif;
     font-family: 'Montserrat', sans-serif;
     font-size: 22px;
     margin: 0px;
     margin-bottom: 15px;
}

.small {
     font-size: 16px;
}

tableau-viz {
     margin-top: 12px;
     margin-bottom: 12px;
}

.button-collection {
     font-size: 18.5px;
     font-family: 'Lato', sans-serif;
     font-family: 'Montserrat', sans-serif;
     color: white;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin-left: 5px;
     margin-right: 5px;
}

.res-button-container {
     font-size: 18.5px;
     font-family: 'Lato', sans-serif;
     font-family: 'Montserrat', sans-serif;
     color: white;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin-left: 180px;
     margin-right: 180px;
     margin-top: 6px;
}

.res-button-container a {
     padding: 10px;
     margin: 2.5px;
     background-color: #565959;
     border-radius: 4px;
     text-align: center;
     color: white;
     flex: 1;
     text-decoration: none;
}

.button-collection a {
     padding: 10px;
     margin: 2.5px;
     background-color: #24353c;
     border-radius: 4px;
     text-align: center;
     color: white;
     flex: 1;
     text-decoration: none;
}

#vegetation-button {
     flex: 1.5;
}

.active {
     background-color: #4a8078 !important;
}

.see-more-container {
     margin-top: auto;
     width: 100%;
}